body
{
	margin:0px;
	padding:0px;
	background-size:cover;
	background-image:url("images/bg.jpg");
}


/*============================HEADER==========================*/

header nav
{
	display:flex;
	flex-direction:row;
	height:60px;
	margin-top:-10px;
	background-color:lightgreen;	
}

.headerImg
{
	margin-left:10px;
	width:70px;
	margin-top:5px;
}

.navUl
{
	display:flex;
	flex-direction:row;
	font-size:1,3em;
	list-style:none;
}

#marker
{
	padding-right:20px;
	border-right:1px solid white;
}

.navUl li a
{
	text-decoration:none;
	color:white;
	font-size:1.5em;
	margin:10px;
	position:relative;
	top:5px;
}

.navUl li a:hover
{
	color:green;
	border-bottom:2px solid white;
	transition:all 1s ease;
}

/*=========================MAIN=======================*/
main
{
	width:80%;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	font-size:1.3em;
	box-shadow:0px 0px 8px grey;
	background-color:white;	
}

main h1, main p
{
	width:80%;
	margin:auto;
	text-align:justify;
}

.link
{
	border-bottom:2px solid lightgreen;
	width:630px;
	text-align:center;
	margin-top:20px;
	margin-bottom:10px;
}

.planteImg
{
	width:99%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.planteImg div p
{
	text-align:center;
	margin-bottom:20px;
	width:420px;
}

.descriptionPlante
{
	font-size:0.8em;
	color:grey;
}

.planteImg img
{
	width:420px;
	height:350px;
	border-radius:5px;
	margin-top:20px;
}

#plantePanorama
{
	width:900px;
	height:300px;
}

#brandLogo
{
	margin-bottom:40px;
}

.fleurs{
	width:210px;
	float:left;
}

.flowerLink
{
	margin:auto;
	margin-top:30px;
	margin-bottom:15px;
}

.fleursDescription
{
	display:flex;
	flex-direction:column;
}

.flowerBox
{
	display:flex;
	flex-direction:row;
	margin:15px;
}

.flowerBox a
{
	text-decoration:none;
	color:blue;
}

#presentationImage
{
	width:400px;
	height:auto;
	margin-top:40px;
	outline: 4px dotted #C59C4F;
}

.bottomLogo
{
	width:150px;
}


/*=========================FOOTER======================*/
footer
{
	background-color:#5C4033;
	display:flex;
	flex-direction:column;
	height:122px;
}

#footerUl 
{
	width:70%;
	margin:auto;
	justify-content:space-around;
}

#footerUl>li
{
	margin:auto;
	text-align:center;
	padding-left:40px;
	padding-right:40px;
	margin-top:10px;
}

.footerSubContent
{
	list-style:none;
	font-size:0.60em;
	position:relative;
	right:20px;
}

.footerSubContent li
{
	width:170px;
}

#mainFooterContent
{
	margin-top:15px;
}
